@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&display=swap');

:root{
    --font01: 'Alumni Sans Pinstripe', sans-serif; 
    --font02: Arial, Helvetica, sans-serif;
    --cor01: #4ECEFA;
    --cor02: #458EDE;
    --cor03: #587BF5;
    --cor04: #4C45DE;
    --cor05: #854EFA;
}
*{
    margin: 0px;
    padding: 0px;
}

body{
    width: 100%;
    background-color: #458fde44;
    
}

h1{
    font-family: var(--font01);
    text-align: center;
    font-size: 3em;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px white;
    padding-top: 20px;
}

 p{
    text-align: center;
    font-family: var(--font01);
    font-weight: bolder;
    font-size: 1.4em;
}
main{
    background-color: #587af574;
    max-width: 500px;
    height: 790px;
    margin: auto;
    border-radius: 10px;
    
}

#div-principal{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    text-align: center;
    display: block;
}
div .dados-pessoais,.senha{
    padding: 20px 0px 0px 0px;
    margin-top: 20px;
    border-radius: 10px;
    border: 0px;
    padding-bottom: 20px;
    font-family: var(--font01);
    font-weight: bolder;
    margin-bottom: 15px;
}

.leg-dados,.leg-senha{
    margin-bottom: 7px;
    font-size:  1.5em;
}

#radio{
    font-size: 1.4em;
     border: 0px;
}
#radio input{
    width: 25px;
}

.div .e{
    margin-top: 20px;
}

.senha .div{
    margin-top: 16px;
}

.div input{
    border-radius: 3px;
    padding: 6px;
    width: 250px;
}

.div .data{
    margin-left: 0px;
    
}

.div .data-nas{
    font-size: 15px;
}

.enviar{
    margin: 30px;
    padding-bottom: 20px;
}

.enviar input{
    font-size: 1.9em;
    font-family: var(--font01);
    background-color: #8f6ae068;
    border: 0px;
    padding: 4px;
    font-weight: bolder;
    border-radius: 6px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.535);
}

